* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --main-bg-color: #CCC;
    --fg-danger-color: #BB2124;
    --fg-warning-color: #F0AD4E;
}

/*Layout*/

header {
    width: 100%;
    padding: 1em 1em 0 1em;
    background-color: var(--main-bg-color);
}

.Title__container {
    display: flex;
    border-bottom: solid 1px #FFF;
}

.Title-link {
    color: inherit;
    text-decoration: none;
}

.Title-1 {
    font-weight: 700;
}

.Title-2 {
    font-weight: 400;
}

.subtitle {
    width: 100%;
    padding: 0.5em 1em;
    background-color: var(--main-bg-color);
}

body {
    font-family: 'Besley', serif;
    display: flex;
    flex-direction: column;
}

.footer {
    position: inherit;
    width: 100%;
    padding: 0.5em;
    background: var(--main-bg-color);
}

main {
    height: fit-content;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*Book List*/

.Cards__container {
    width: 100%;
    height: fit-content;
    padding: 1em 2em;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.Card__container {
    width: 30%;
    height: fit-content;
    background-color: red;
    position: relative;
    margin: 1em;
    padding: 0.5em 1em;
    background-color: #DDD;
}

.Card__container ul {
    list-style: none;
}

.links__container {
    bottom: 0;
    right: 0;
    padding: 0.5em 1em;
    display: none;
    opacity: 0;
    position: absolute;
    cursor: pointer;
}

.links__container a {
    color: inherit;
    text-decoration: none;
}

.Card__container:hover .links__container {
    display: block;
    opacity: 1;
}

.edit, .delete {
    transition: 200ms ease;
}

.edit:hover {
    color: var(--fg-warning-color);
}

.delete:hover {
    color: var(--fg-danger-color);
}

/*New Book*/

.form__container {
    padding: 1em;
    width: 400px;
    height: 82vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.form {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.form-field {
    margin-bottom: 1em;
    padding: 5px;
}

.form-submit {
    width: 50%;
    height:2em;
}