{% extends 'layout.html' %}

{% block subtitle %}
Edit Book
{% endblock %}

{% block content %}
<div class="form__container">
<form class="form" action="{% url 'updatebook' isbn=book.isbn  %}" method="POST">
    {% csrf_token %} 
    <label for="name">Name</label>
    <input class="form-field" id="name" name="name" value="{{ book.name }}"></input>
    <label for="author_name" >Author</label>
    <input class="form-field" id="author_name" name="author_name" value="{{ book.author_name }}"></input>
    <label for="category">Category</label>
    <select class="form-field" name="category" name="category" value="{{ book.category }}">
        <option value="AA">Action and Adventure</option>
        <option value="CL">Classics</option>
        <option value="CM">Comic Book</option>
        <option value="DM">Detective and Mystery</option>
        <option value="FT">Fantasy</option>
    </select>
    <label for="isbn">ISBN</label>
    <input class="form-field" id="isbn" name="isbn" value="{{ book.isbn }}"></input>
    <label for="publication_date">Publication</label>
    <input type="date" class="form-field" id="publication_date" name="publication_date" value="{{ date }}"></input>
    <input class="form-submit" type="submit" value="Save"/>
</form>
</div>
{% endblock %}