{% extends 'layout.html' %}

{% block subtitle %}
Book List
{% endblock %}

{% block content %}

<div class="Cards__container">
    {% for book in books_list %}
    <div class="Card__container">
        <ul>
            <li>Name: {{ book.name }}</li>
            <li>Author: {{ book.author_name }}</li>
            <li>Category: {{ book.category }}</li>
            <li>ISBN: {{ book.isbn }}</li>
            <li>Publication: {{ book.publication_date }}</li>
        </ul>
        <div class="links__container">
            <div class="forms__container">
                <a hfref="{% url 'editbook' ibsb=book.isbn %}"><i class="far fa-edit"></i></a>
                <form>
                    {% csrf_token %}
                    <i class="delete far fa-trash-alt"></i>
                </form>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}